body {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    font-family: 'Roboto';
    background-color: #1F2937;
    /* min-width: 600px; */
}

.header{
    
    display: flex;
    width: 100%;
    justify-content: center;
}

.header-bar{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

ul{
    display: flex;
    gap: 16px;
    list-style: none;
}

.logo{
    font-size: 24px;
    color: #E5E7EB;
    font-weight: 900;
}

.header-link-text, .hero-secondary-text{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content{
    display: flex;
    flex-direction: column;
}

.section{
    height: 500px;
}

.section.first{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-section-left{
    width:35%;
}

.hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
}

button{
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 8px 32px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}

.first-section-right{
    width:35%;
}

.first-section-img{
    position: relative;
    text-align: end;
    /* background-color: #F9FAF8; */
}

img{
    width: 80%;
}

.image-placeholder{
position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #E5E7EB;
}

