body {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    font-family: 'Roboto';
    background-color: #1F2937;
    min-width: 500px;
}

.header{
    
    display: flex;
    width: 100%;
    justify-content: center;
}

.header-bar{
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

ul{
    display: flex;
    gap: 16px;
    list-style: none;
}

.logo{
    font-size: 24px;
    color: #E5E7EB;
    font-weight: 800;
}

.header-link-text, .hero-secondary-text{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content{
    display: flex;
    flex-direction: column;
}

.section{
    height: 500px;
}

.section.first{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.first-section-left{
    /* width:35%; */
    padding-left:10%;
    flex: 1;
}

.hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    margin: 0px;
    padding: 0px;
}

button{
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 8px 32px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}

.first-section-right{
    /* width:35%; */
    padding-right:10%;
    flex: 1;
}

.first-section-img{
    position: relative;
    text-align: end;
    height: 250px;
    /* background-color: #F9FAF8; */
}

.first-section-img > img{
    height: 100%;
    width: 100%;
}

.image-placeholder{
    text-align: center;
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #E5E7EB;
}

.section.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    background-color: white;
    padding:0 20%;
}

.info-header{
    padding-top: 5%;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;

}

.container{
    display: flex;
    height:150px;
    gap: 5%;
}

.container-box1,.container-box2,.container-box3,.container-box4{
    height: 100%;
    flex: 1;
}

.box{
    width: 90%;
    height: 100%;
    border: #3882F6 solid 4px;
    border-radius: 10px;
}

.subtext{
    padding: 5%;
    width: 90%;
    text-align: center;
    color: rgb(94, 93, 93);
}

.section.third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    background-color: #E5E7EB;
    padding:0 20%;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    justify-content: center;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

.quote-writer{
    padding: 20px 0px;
    margin: 0px;
    font-size: 24px;
    color: #1F2937;
    text-align: end;
    font-weight: 700;
}
